* { box-sizing: border-box; }

body {
    background-image: url(images/login4.jpeg);
    background-size: 1550px 900px;
    background-repeat: repeat;
    margin:auto; 
    padding:auto;
    text-align:center;
    
}

form {
    padding: auto;
    margin: auto; 
    
}

header{
    margin-top: 2%;
    color:black;
    font-family: 'Special Elite', cursive;
	height: 100px;
    background-size: 200px 200px;
    font-size: 3em;
    font-weight: bolder;
}

.col-4 {
       
    margin-top: 20px;

}
.col-4 p {
    font-family: 'Special Elite', cursive;
    color: rgb(151, 115, 36);
    font-weight: bolder;
    font-size: 1.5em;
}

.jumbotron {
    background-color: rgba(46, 32, 20, 0.8);
    width: 300px;
    height: 300px;
    padding:auto;
    margin-top: 150px;
    
}
.btn-outline-dark{
    color: rgb(151, 115, 36);
    border: solid rgb(151, 115, 36);
    font-family: 'Special Elite', cursive;
}