* { box-sizing: border-box; }

header, nav, main, footer {display:block;}

body {
    background-image: url(images/parchment2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin:auto; 
    padding:auto;
    text-align:center;
    
}
header{
    margin-top: 2%;
    font-family: 'Trade Winds', cursive;
    color: rgb(143, 37, 37);
	height: 100px;
    background-size: 200px 200px;
}
#headrow{
    height: 267px;
}
#headrow p {
    font-family: 'Trade Winds', cursive;
    color:  rgb(143, 37, 37);
    font-size: 1.5em;
    text-align: left;
    margin-left: 10px;
}
#label {
    font-family: 'Trade Winds', cursive;
    color:  rgb(143, 37, 37);
    font-size: 1.5em;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0;
}
.btn-outline-dark {
    color: rgb(143, 37, 37);
    border-color:  rgb(143, 37, 37);
}
.h1, h1 {
    font-size: 4em;
}

form {
    padding: auto;
    margin: auto; 
    margin-top: 25%;
}
.search{
    align-content: center;
    text-align:center;
    margin-top: 5%;
    margin-left: 50%;
}
#search{
    align-content: center;
    text-align:center;
    margin: auto;
   
}
input    {
    margin: 10px;
    border-radius: .3rem;
    border:2px solid  rgb(143, 37, 37);
    width: 100%;
}
button {
    margin-left: 10%;
}

nav{
    font-family: 'Trade Winds', cursive;
    text-align: center;
	align-content: center;
	font-size: 0.8em;
	float: left;
    width: 200px;
    /* margin-left: 80px; */
    padding: auto;
    height: 100%;
    margin-left: 20%;    
    
}
.col-3{
    
}

ul {
    list-style-type:none;
    padding: 0;
    
}
nav li{
    border: 2px solid  rgb(143, 37, 37);
    border-radius: .3rem;
    margin-bottom: 1px;
    
}
nav li:hover{
    background-color:  rgb(143, 37, 37);
    color: white;
}
nav a{
    color: rgb(143, 37, 37);
    font-size: 2em;
    font-weight: bold;
    
}
nav a:hover{
    text-decoration: none;
    background-color:  rgb(143, 37, 37);
    color: white;
}

#userPhoto{
    border: 2px solid rgb(143, 37, 37);
    margin-bottom: 30px;
    /* margin-left: 50px; */
    max-height:250px;
    width: 200px;
    border-radius: 0.25em
}
table {
    
    margin: 10px;
    width: 50%;
    border-radius: .2rem;
}
table, thead, tbody, tr {
    background-color:  rgb(122, 33, 33);
    font-family: 'Playfair Display SC', cursive;
   
    
}
footer {
    background-color: rgb(122, 33, 33);
    color: white;
	font-size: .70em;
	text-align: center;
	font-style: italic;
	margin-bottom: 0;
    border: 2px solid rgb(122, 33, 33);
    font-family: 'Playfair Display SC', cursive;
    height: 20px;
}
footer p {
    margin:0;
}
