{{#each artifacts}}
  <div class="artifact">
    <a class="artifact__name" href="/artifacts/{{id}}">
      {{name}}
    </a>

    <div class="artifact__description">
      {{description}}
    </div>
  </div>
{{/each}}