<div class="note">
  Don't have an account? Access to this collection is restricted due to sensetive materials. Please contact [NAME
  REDACTED] at [EMAIL REDACTED] to request access.
</div>

<form action="/login" method="post">
  <input type="text" name="name" placeholder="Your Name" autofocus />
  <input type="password" name="password" placeholder="Secret Password" autocomplete="lapisPassword" />
  <input type="submit" />
</form>

<small>(For development purposes, login as Nathan Reed with password NReed1204)</small>