<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset='utf-8' />
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Mountains+of+Christmas|Rock+Salt|Special+Elite|Trade+Winds|Playfair+Display+SC&&display=swap" rel="stylesheet"> <!--Google Font-->
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!--BOOTSTRAP CSS-->
    
        <link rel="stylesheet" type="text/css" href="/static/css/pageView.css"> <!--MY CSS STYLE-->
    

        <title>Lapis Philosophorum</title>
        
    </head>

    <body>
        

        <div class="container-fluid">
            <header>
                    <h1>Lapis Philosophorum</h1>
                    
            </header>
            <div class="row" id="headrow">
                    <div class="col-3">
                        
                        <img src="/static/css/user.jpg" alt="User photo" id="userPhoto">
                        
                        
                    </div>
                    <div class="col-6">
                            <p>Welcome to the Database, <span>Blahblah</span></p>
                            <p>You are an <span>user</span></p>
                            <div id="search">
                               
                                    <input type="text" name="search" placeholder="Query??" style="text-align:center" column>
                                    <br><button type="button" class="btn btn-outline-dark btn-lg">Go123</button> 
                                    <button type="button" class="btn btn-outline-dark btn-lg">Whatever</button>
                                
                            </div>

                    </div>
                    
            </div>
            <div class="row">
                <div class="col-3">
                    <nav>
                            
                        <ul>
                          <li><a href="#">View Users</a></li>
                          <li><a href="#">Add Testers</a></li>
                          <li><a href="#">Option2</a></li>
                          <li><a href="#">Option3</a></li>
                          <li><a href="#">Option4</a></li>

                        </ul>
                     </nav>
                </div>
                <div class="col-8">
                    
                    <p id="label"> Table 1:    </p>
                    <table class="table table-striped table-dark">
                        <thead>
                            <tr>
                            <th scope="col">#</th>  
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            </tr>
                            <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            </tr>
                            <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                
                <p id="label"> Table 2: </p>
                    <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                <th scope="col">#</th>  
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                </tr>
                                <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                
                </div>
            </div>

        </div>
        

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> <!--JQUERY-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> <!--POPPER-->

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    <!--JAVASCRIPT-->
    </body>
    <footer>
        <p>Copyright 2019</p>
    </footer>

</html>