<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset='utf-8' />
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Mountains+of+Christmas|Rock+Salt|Special+Elite|Trade+Winds|Playfair+Display+SC&&display=swap" rel="stylesheet"> <!--Google Font-->
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!--BOOTSTRAP CSS-->
    
        <link rel="stylesheet" type="text/css" href="/static/css/pageView.css"> <!--MY CSS STYLE-->
  <title>{{title}}</title>
  
</head>
<body>
  <!-- {{{body}}} is automatically replaced by the contents of each individual page file -->
  {{{body}}}
</body>
</html>
